:root {
  --primario: #0097a7;
  --secundario: #FFC107;
  --grisclaro: #DFE9F3;
  --blanco: #ffffff;
  --negro: #000000;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-size: 16px;
  /* 1rem = 10px*/
  font-family: 'Roboto', sans-serif;
  background-image: linear-gradient(to top, var(--grisclaro) 0%, var(--blanco) 100%);
}

/**CSS DEL ENCAVEZO DE LA PAGINA**/
.titulo {
  text-align: center;
  font-size: 3rem;
  color: black;
}

span {
  font-size: 1.5rem;
}


/**CSS DE LA NAVEGACION SUPERIOR **/


.navegacionSuperior {
  background-color: #0097a7;
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
}

.navegacionSuperior a:hover {
  background-color: #FFC107;
}

.ubicacionContacto {
  background-image: url(../img/corunha.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 45rem;
  position: relative;
  color: aliceblue;
}


/**CSS DEL MENU DESPLEGABLE**/
.navbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-decoration: none;
}

.navbar a {
  margin-right: 10px;
}

.dropdown {
  position: relative;
}

.dropdown-toggle {
  cursor: pointer;

}

.dropdown-toggle:hover svg {
  background-color: var(--secundario);
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 9;
  padding: 10px;
  margin-top: 0rem;

  background-color: var(--primario);
  box-shadow: 0 0 0 1px var(--grisclaro);
  width: max-content;
  list-style-type: circle;
  padding-left: 2.2rem;
  color: black;
  text-decoration: none;
  font-weight: bold;
}

.dropdown-menu a:visited {
  color: inherit;
  text-decoration: none;
}

.dropdown-menu li {
  margin-bottom: 5px;


}

.dropdown-toggle.active+.dropdown-menu,
.dropdown-menu:hover {
  display: block;
}


/**CSS DEL PIE DE PAGINA**/
footer {
  text-align: center;
  bottom: 0;
}

footer p {
  margin-right: 1%;
}

/**UNICAS**/


.pomodoro {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

#controls {
  margin-top: 1.5rem;
}

.timer {
  position: relative;
  width: 200px;
  height: 200px;
  margin: 0 auto;
}

#time-display {
  font-size: 48px;
  color: black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  text-align: center;
}

#time-display span {
  font-size: 48px;
}

.progress-ring {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: rgba(121, 226, 129, 0.37);
  position: relative;
  overflow: hidden;
}

.progress {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: rgb(245, 137, 137);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  transform-origin: center center;
  transition: clip-path 1s linear;
  animation: fill-progress linear infinite;
}

.pomodoro2 {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.timer2 {
  position: relative;
  width: 100px;
  height: 100px;
  margin: 0 auto;
}

#time-display2 {
  font-size: 24px;
  color: black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  text-align: center;
}

#time-display2 span {
  font-size: 24px;
}

.progress-ring2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: rgb(245, 137, 137);
  position: relative;
  overflow: hidden;
}

.progress2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: rgb(121, 226, 130);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  transform-origin: center center;
  transition: clip-path 1s linear;
  animation: fill-progress linear infinite;
}

@keyframes fill-progress {
  0% {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }

  100% {
    clip-path: polygon(50% 0, 100% 0, 100% 100%, 50% 100%);
  }
}


@keyframes progress-animation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes progress-animation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}


@media (max-width: 480px) {
  /**MOVILES**/

}

@media (min-width: 768px) {
  /**TABLETS**/




}

@media (min-width: 1140px) {
  /**PORTATIL**/

}